pydantic
langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
dotenv
chromadb
langchain_chroma
sentence_transformers
langchain-huggingface
faiss-cpu
langchain_ollama
streamlit
langchain_groq
langchain-core
fastapi
uvicorn
langserve
sse_starlette
arxiv
wikipedia
duckduckgo-search